html {
  font-size: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  margin: auto;

}
.col-md-8  {
    font-family: Georgia, Helvetica, sans;
    font-style:  italic;
    font-weight: bold;
    color: #151b8d
    
}
.col-sm-4 {
   
    padding-top: 65px;

    
}


#map {
	width: 960px;    
    height: 650px;
    border-color: black;
    border-width: 20px;
}
ul {
	list-style: none;
	display: block;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3442d9);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3442d9);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3442d9);
  background-image: -o-linear-gradient(top, #3cb0fd, #3442d9);
  background-image: linear-gradient(to bottom, #3cb0fd, #3442d9);
  text-decoration: none;
}
a {
    padding-left: 40px;
}