* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  margin: auto;

}
.col-md-9 {
    font-family: Georgia, Helvetica, sans;
    font-style:  italic;
    font-weight: bold;
    color: #151b8d;
    padding-right: 5px;
    max-height: 580px;
}
.col-sm-3 {
    padding-top: 75px;
    padding-left: 5px;
}

#map {
    position: relative;
	width: 100%;    
    height: 580px;
}

.location-search {
    padding-left: 10px;
    font-family: Georgia, Helvetica, sans;
    font-size: 16px;
    font-weight: bold;
    color: #151b8d
}
p {
    font-family: Georgia, Helvetica, sans;
    font-style: italic;
    font-weight: bold;
    padding-top: 20px;
    color: #151b8d;
    font-size: 18px;
    border-bottom-color: #151b8d;
    border-bottom-width:10px;
}
ul {
	list-style-type: none;
	display: block;
    padding-top: 10px;
    padding-left: 5px;
    
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 18px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  margin: 5px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3442d9);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3442d9);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3442d9);
  background-image: -o-linear-gradient(top, #3cb0fd, #3442d9);
  background-image: linear-gradient(to bottom, #3cb0fd, #3442d9);
  text-decoration: none;
}

@media only screen and (max-width: 1085px) {
    .col-md-9{
        font-size: 80%;
    }
     ul  {
         padding-left: 40px;
        display: block;
    }
    .btn {
    font-size: 80%;
    }
}
@media only screen and (max-width: 992px) {
    .col-sm-3{
        padding: 40px;
        }
    
    ul  {
        width: 950px;
        font-size: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 5px;
        padding-bottom: 
     }
        
        .btn {
        display: flex;
         flex-wrap: wrap;
         flex-direction: row;
        float: left;
        font-size: 80%;
        margin: 1px;
        border: 1px solid black;
        text-decoration: underline;
        color: #3498db;
        background: none;
    }
       .btn:hover {
        background: none;
        background-image: none;
    }
}
@media only screen and (max-width: 760px) {
    .col-md-9 { 
    font-size:  65%
    }
    .col-sm-3 {  
       display: -webkit-flex; 
        -webkit-flex-wrap: wrap ;
         padding-top: 5px;
        padding-left: 5px;
       }
    #map {
        position: relative;
        width: 100%;
       height: 450px;
       padding-bottom: 5px;
    }
    location-search {
       padding-bottom: 10px;
    }
    ul  {
        width: 758px;
        font-size: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
      .btn {
        display: flex;
         flex-wrap: wrap;
        float: left;
        margin: 1px;
        border: 1px solid black;
        text-decoration: underline;
        color: #3498db;
        background: none;
    }
    .btn:hover {
        background: none;
        background-image: none;
    }
 